:root {
    color-scheme: light dark;
    --fallback-bg-color: #ffffff;
    --fallback-txt-color: #1a1818;
    --fallback-bg-color-dark: #1a1818;
    --fallback-txt-color-dark: #ffffff;
}

@supports (color: light-dark(white, black)) {
    * {
        color: light-dark(var(--txtColor, var(--fallback-txt-color)), var(--txtColorDark, var(--fallback-txt-color-dark)));
    }
    body {
        background-color: light-dark(var(--bgColor, var(--fallback-bg-color)), var(--bgColorDark, var(--fallback-bg-color-dark)));
        color: light-dark(var(--txtColor, var(--fallback-txt-color)), var(--txtColorDark, var(--fallback-txt-color-dark)));
    }
}

@supports not (color: light-dark(white, black)) {
    * {
        color: var(--txtColor, var(--fallback-txt-color));
    }
    @media (prefers-color-scheme: dark) {
        * {
            color: var(--txtColorDark, var(--fallback-txt-color-dark));
        }
    }
    body {
        background-color: var(--bgColor, var(--fallback-bg-color));
        color: var(--txtColor, var(--fallback-txt-color));
    }
    @media (prefers-color-scheme: dark) {
        body {
            background-color: var(--bgColorDark, var(--fallback-bg-color-dark));
            color: var(--txtColorDark, var(--fallback-txt-color-dark));
        }
    }
}

html {
    margin: 1.11em;
}

@media screen and (min-width: 555px) {
    html {
        margin: 2em 2.55em;
        padding-block-end: 2em;
    }
}

@font-face {
    font-family: 'SF Mono';
    src: url('fonts/SF-Mono-Regular.otf') format('opentype'),
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SF Pro Rounded', 'Arial Rounded MT Bold', 'Helvetica Rounded', 'Avenir Next Rounded', sans-serif;
    font-size: 1.23em;
    font-weight: normal;
    letter-spacing: .025em;
    -webkit-font-smoothing: antialiased;
}

:is(a, button) {
    text-decoration: none;
    cursor: pointer;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    line-height: inherit;
}

article :is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.3;
    font-weight: 700;
}

article h1 {
    font-size: 1.5em;
    margin-top: 0;
}

article h2 {
    font-size: 1.25em;
}

article h3 {
    font-size: 1.1em;
}

p, ul, ol, pre {
    margin-bottom: 1em;
    margin-top: 0em;
}

ul, ol {
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.25em;
}

code {
    font-family: 'SF Mono', monospace;
    font-size: 0.9em;
    font-weight: normal;
    letter-spacing: .025em;
    -webkit-font-smoothing: antialiased;
}

pre {
    font-family: monospace;
    font-size: 0.85em;
    padding: 1em;
    overflow-x: auto;
}

pre code {
    padding: 0;
}

hr {
    border: none;
    border-top: 1px solid currentColor;
    opacity: 0.3;
    margin: 1em 0 1em 0;
}

nav {
    margin-bottom: 1em;
}

article > *:first-child {
    margin-top: 0;
}
